.Com-container {
  background-color: #92a0dd;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.text-Com-container {
  margin-left: 11rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-container-Com {
  display: flex;
  margin-right: 5rem;
  margin-left: 6rem;
}
.image-container-Com img {
  height: 36rem;
  width: 96rem;
  margin-left: 3rem;
  margin-top: 4rem;
}

.med-para-Com {
  width: 50rem;
  font-size: 2rem;
  margin-top: 0rem;
  margin-bottom: 4rem;
  color: #364547;
}

.med-heading-Com {
  font-size: 57px;
  font-weight: 600;
  color: white;
}

.med-button-Com {
  height: 3rem;
  border-radius: 7px;
  border: 0;
  width: 13rem;
  background-color: #ff7a00;
  color: white;
  font-size: 24px;
  font-family: lato;
}
